<h3>About the Project</h3>

A calendar app to keep track of working days and events built on top of Sails JS. This is an experimental/exercise project to explore the possibilities of building a Node.JS application.