
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>What is this project about? A calendar app to keep track of working days and events built on top of Sails JS. This is an experimental/exercise project to explore the possibilities of building a Node.JS application.</p>
    <p><a class="btn btn-primary btn-lg" href="/about">Learn more »</a></p>
  </div>
</div>

<script>
    $("#loginButton").click(function(){
        var username = $("#loginName").val();
        var password = $("#loginPassword").val();
        if (username && password) {
            $.post(
                '/login',
                {username: username, password:password},
                function () {
                    //window.location = "/chat";
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
        } else {
            alert("A username and password is required");
        }
        return false;
    });

    $("#signupButton").click(function(){
	    var username = $("#signupName").val();
	    var password = $("#signupPassword").val();
	    var confirmPassword = $("#signupConfirmPassword").val();
	    if (username && password) {
	        if (password === confirmPassword) {
	            $.post(
	                '/signup',
	                {username: username, password:password},
	                function () {
	                    //window.location = "/chat";
	                }
	            ).fail(function(res){
	                alert("Error: " + res.getResponseHeader("error"));
	            });
	        } else {
	            alert("Passwords don't match");
	        }  
	    } else {
	        alert("A username and password is required");
	    }
	    return false;
}); 
</script>

