
<h1>Welcome!</h1>
<div class="row">
	<div class="span4">
	    <h3>Login</h3>
		<div class="control-group">
	        <div id="login-form" class="controls">
		          <input type="text" id="loginName" placeholder="name" class="input-xlarge focused" />
		          <input type="password" id="loginPassword" placeholder="password" class="input-xlarge focused" />
		          <button id="loginButton" class="btn btn-primary">Login</button>
	        </div>
	  	</div>
	</div>
	<div class="span4">
		    <h3>Signup</h3>
			<div id="signup-form" class="control-group">
		        <div class="controls">
				    <input type="text" id="signupName" placeholder="name" class="input-xlarge focused" />
				    <input type="password" id="signupPassword" placeholder="password" class="input-xlarge focused" />
				    <input type="password" id="signupConfirmPassword" placeholder="confirm password" class="input-xlarge focused" />
				    <button id="signupButton" class="btn btn-info">Sign up</button>
			    </div>
		    </div>
	</div>
	<div class="span4">
		<div class="well">
			<h3>What is this about?</h3>
			This is meant to help with having to keep track of your working days within a calendar period. <a href="/about" title="read more">Read more..</a>
		</div>
	</div>
</div>




<script>
    $("#loginButton").click(function(){
        var username = $("#loginName").val();
        var password = $("#loginPassword").val();
        if (username && password) {
            $.post(
                '/login',
                {username: username, password:password},
                function () {
                    //window.location = "/chat";
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
        } else {
            alert("A username and password is required");
        }
        return false;
    });

    $("#signupButton").click(function(){
	    var username = $("#signupName").val();
	    var password = $("#signupPassword").val();
	    var confirmPassword = $("#signupConfirmPassword").val();
	    if (username && password) {
	        if (password === confirmPassword) {
	            $.post(
	                '/signup',
	                {username: username, password:password},
	                function () {
	                    //window.location = "/chat";
	                }
	            ).fail(function(res){
	                alert("Error: " + res.getResponseHeader("error"));
	            });
	        } else {
	            alert("Passwords don't match");
	        }  
	    } else {
	        alert("A username and password is required");
	    }
	    return false;
}); 
</script>

